<header class="bg-white border">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-4"
    aria-label="Global">
    <!-- logo -->
    <div>
      <a href="#" class="flex items-center">
        <span class="text-xl">AC</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 284.089 330.307"
          class="w-8 h-auto mx-2"
          enable-background="new 0 0 284.089 330.307"
          xml:space="preserve">
          <g>
            <path
              d="M231.77,222.296c-20.057,35.341-48.74,71.6-89.725,102.405c-4.422-3.324-8.703-6.714-12.841-10.161l-7.661-0.909
		c6.477,5.701,13.314,11.269,20.502,16.676c41.913-31.506,71.477-68.494,92.329-104.668L231.77,222.296z M196.022,51.625
		l-2.254,5.53c59.195,3.75,84.64,13.002,84.64,13.002s-0.379,13.078-4.138,34.072l2.33,12.168c6.894-30.881,7.49-51.24,7.49-51.24
		S257.612,55.526,196.022,51.625z M79.318,57.799l-4.195-5.398C20.672,56.672,0,65.157,0,65.157s0.634,21.837,8.248,54.592
		l3.712-4.583C6.203,87.874,5.682,70.157,5.682,70.157S25.918,61.852,79.318,57.799z"
            ></path>
            <polygon
              points="191.568,68.656 228.103,85.908 228.103,93.46 279.355,137.16 270.221,163.546 254.997,153.398 247.893,143.249 
		257.027,146.294 263.116,146.294 269.206,138.175 221.59,98.301 173.294,76.52 161.121,96.057 125.093,114.832 156.249,88.831 
		161.931,73.679 119.318,73.679 98.484,73.679 80.492,90.725 57.097,127.011 70.797,83.879 95.154,63.581 179.389,63.581 	"
            ></polygon>
            <polygon
              points="182.764,101.141 213.067,105.876 231.791,127.822 199.809,116.293 	"
            ></polygon>
            <polygon
              points="266.097,173.111 244.341,183.337 207.73,173.188 187.049,164.968 171.401,153.224 171.401,158.906 
		182.434,168.113 197.916,175.005 217.802,183.527 245.264,211.936 	"
            ></polygon>
            <polygon
              points="158.077,30.589 137.779,0 117.482,30.589 137.779,56.976 	"
            ></polygon>
            <polygon points="94.968,10.989 95.154,56.976 130.671,56.893 	"
            ></polygon>
            <polygon points="180.284,10.989 144.581,56.893 179.389,56.976 	"
            ></polygon>
            <polygon
              points="55.871,92.619 39.773,103.035 24.621,119.134 17.045,153.224 13.258,174.058 23.674,155.118 29.356,141.861 
		27.462,175.952 26.779,220.81 46.401,260.231 45.454,235.61 51.136,224.247 81.397,260.231 116.477,299.057 125.946,307.58 
		114.583,282.012 108.901,267.807 94.696,248.868 77.651,227.088 51.136,200.573 44.507,173.111 42.613,135.232 	"
            ></polygon>
            <polygon
              points="95.643,98.301 83.333,110.611 64.394,131.444 61.553,150.384 60.606,174.058 71.022,148.49 76.195,140.17 
		74.81,165.093 74.311,197.889 88.657,226.71 91.856,216.671 106.06,207.201 143.939,275.383 146.811,261.326 138.503,242.633 
		134.35,232.248 123.965,218.402 111.503,202.479 89.015,187.315 88.068,167.429 89.015,138.073 	"
            ></polygon>
          </g>
        </svg>
        <span class="text-xl">Kings</span>
      </a>
    </div>
    <!-- mobile menu button -->
    <div class="flex lg:hidden">
      <button
        class="inline-flex items-center justify-center text-gray-700 mobile-menu-btn">
        <span class="sr-only">Open main menu</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <!-- desktop main menu -->
    <div class="hidden lg:flex">
      <ul class="flex gap-x-12">
        <li>
          <a
            href="#"
            class="text-lg leading-6 text-gray-800 font-normal hover:text-indigo-800"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-lg leading-6 text-gray-800 font-normal hover:text-indigo-800"
            >About</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-lg leading-6 text-gray-800 font-normal hover:text-indigo-800"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="hidden lg:flex lg:justify-end">
      <a class="text-orange-600" href="tel:4801234545">(480) 600-7340</a>
    </div>
  </nav>
  <!-- mobile menu -->
  <div class="hidden lg:hidden mobile-menu" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 284.089 330.307"
            class="w-8 h-auto mr-2"
            enable-background="new 0 0 284.089 330.307"
            xml:space="preserve">
            <g>
              <path
                d="M231.77,222.296c-20.057,35.341-48.74,71.6-89.725,102.405c-4.422-3.324-8.703-6.714-12.841-10.161l-7.661-0.909
		c6.477,5.701,13.314,11.269,20.502,16.676c41.913-31.506,71.477-68.494,92.329-104.668L231.77,222.296z M196.022,51.625
		l-2.254,5.53c59.195,3.75,84.64,13.002,84.64,13.002s-0.379,13.078-4.138,34.072l2.33,12.168c6.894-30.881,7.49-51.24,7.49-51.24
		S257.612,55.526,196.022,51.625z M79.318,57.799l-4.195-5.398C20.672,56.672,0,65.157,0,65.157s0.634,21.837,8.248,54.592
		l3.712-4.583C6.203,87.874,5.682,70.157,5.682,70.157S25.918,61.852,79.318,57.799z"
              ></path>
              <polygon
                points="191.568,68.656 228.103,85.908 228.103,93.46 279.355,137.16 270.221,163.546 254.997,153.398 247.893,143.249 
		257.027,146.294 263.116,146.294 269.206,138.175 221.59,98.301 173.294,76.52 161.121,96.057 125.093,114.832 156.249,88.831 
		161.931,73.679 119.318,73.679 98.484,73.679 80.492,90.725 57.097,127.011 70.797,83.879 95.154,63.581 179.389,63.581 	"
              ></polygon>
              <polygon
                points="182.764,101.141 213.067,105.876 231.791,127.822 199.809,116.293 	"
              ></polygon>
              <polygon
                points="266.097,173.111 244.341,183.337 207.73,173.188 187.049,164.968 171.401,153.224 171.401,158.906 
		182.434,168.113 197.916,175.005 217.802,183.527 245.264,211.936 	"
              ></polygon>
              <polygon
                points="158.077,30.589 137.779,0 117.482,30.589 137.779,56.976 	"
              ></polygon>
              <polygon points="94.968,10.989 95.154,56.976 130.671,56.893 	"
              ></polygon>
              <polygon points="180.284,10.989 144.581,56.893 179.389,56.976 	"
              ></polygon>
              <polygon
                points="55.871,92.619 39.773,103.035 24.621,119.134 17.045,153.224 13.258,174.058 23.674,155.118 29.356,141.861 
		27.462,175.952 26.779,220.81 46.401,260.231 45.454,235.61 51.136,224.247 81.397,260.231 116.477,299.057 125.946,307.58 
		114.583,282.012 108.901,267.807 94.696,248.868 77.651,227.088 51.136,200.573 44.507,173.111 42.613,135.232 	"
              ></polygon>
              <polygon
                points="95.643,98.301 83.333,110.611 64.394,131.444 61.553,150.384 60.606,174.058 71.022,148.49 76.195,140.17 
		74.81,165.093 74.311,197.889 88.657,226.71 91.856,216.671 106.06,207.201 143.939,275.383 146.811,261.326 138.503,242.633 
		134.35,232.248 123.965,218.402 111.503,202.479 89.015,187.315 88.068,167.429 89.015,138.073 	"
              ></polygon>
            </g>
          </svg>
          <span>AC Kings</span>
        </a>
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700 mobile-menu-btn">
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-50"
              >Services</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-50"
              >About</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-50"
              >Contact Us</a
            >
          </div>
          <div class="py-6">
            <a
              href="tel:4806007340"
              class="-mx-3 flex rounded-lg px-3 py-2 text-base leading-7 hover:bg-gray-50"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 fill-indigo-600">
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="ml-2">(480) 600-7340</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    let btns = document.querySelectorAll("button.mobile-menu-btn");
    let menu = document.querySelector("div.mobile-menu");

    function mobileMenu() {
      menu.classList.toggle("hidden");
    }

    btns.forEach((btn) => {
      btn.addEventListener("click", mobileMenu);
    });
  });
</script>
